body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

header, .container-wrapper {
    padding: 20px;
}

header {
    background: rgb(199, 243, 239);
}

.container, .header-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2 {
    font-family: "Roboto Slab";
    color: rgb(102, 99, 99);
}

.logo {
    font-size: 35px;
    margin: 0;
    padding-bottom: 20px;
}

.logo-span {
    color: rgb(25, 153, 140);
}

input, textarea, .idea, .idea-name, .idea-description, .idea-quality {
    width: 450px;
}

input {
    height: 30px;
} 

textarea {
    height: 50px;
}

.input-padd {
    margin-bottom: 10px;
}

.save-btn {
    border: none;
    background: rgb(5, 161, 146);
    color: white;
    cursor: pointer;
    transition: 1s;
}

.save-btn:hover {
    background: rgb(3, 92, 83);
}

.idea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(206, 206, 206);
}

.idea-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.idea-description {
    color: rgb(150, 148, 148);
    line-height: 1.5;
}

.circle {
    width: 20px;
    height: 20px;
    background: rgb(206, 205, 205); 
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 1s;
}

.remove:hover {
    background: red;
}

.idea:last-child {
    border-bottom: none;
}

.idea-quality {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-top: 15px;
}

.upvote:hover {
    background: green;
}

.downvote:hover {
    background: orange;
}

.idea-quality span {
    margin-right: 5px;
}

.fas {
    font-size: 10px;
}

small {
    font-weight: bold;
    color: rgb(138, 136, 136);
}


